{% load static %}
{% with request.resolver_match.view_name as view_name %}  
<nav class="navbar navbar-light" style="background-color: hsl(50, 33%, 15%)">
    <div class="container">
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <span style="color:hsla(50, 33%, 80%)">Resumes
      </a>
      <ul class="nav nav-pills">
        {% if user.username %}
          <li class="nav-item"> 
          <a class="nav-link {% if view_name == 'posts:profile' %}active{% endif %}"
          href="{% url 'posts:profile' user.username %}">
          <span style="color:hsla(50, 33%, 80%)">Мои резюме</a>
          </li>
       <li class="nav-item"> 
         <a class="nav-link link-light {% if view_name == 'users:password_change_form' %}active{% endif %}"
         href="{% url 'users:password_change_form' %}">
         <span style="color:hsla(50, 33%, 80%)">Изменить пароль</a>
       </li>
       <li class="nav-item"> 
         <a class="nav-link link-light" href="{% url 'users:logout' %}">
          <span style="color:hsla(50, 33%, 80%)">Выйти</a>
       </li>
       <li>
        <a>
        <span style="color:hsla(50, 33%, 80%)">Пользователь: {{ user.username }}
        </a>
       </li>
       {% else %}
        <li class="nav-item"> 
          <a class="nav-link {% if view_name == 'users:login' %}active{% endif %}"
          href="{% url 'users:login' %}">
          <span style="color:hsla(50, 33%, 80%)">Войти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'users:signup' %}active{% endif %}"
          href="{% url 'users:signup'%}">
          <span style="color:hsla(50, 33%, 80%)">Регистрация</a>  
        </li>
        {% endif %}
          <li class="nav-item"> 
          <a class="nav-link {% if view_name == 'about:author' %}active{% endif %}"
          href="{% url 'about:author' %}">
          <span style="color:hsla(50, 33%, 80%)">Об авторе</a>
          </li>
        </ul>

{% endwith %}