{% extends "base.html" %}
{% block title %} Резюме успешно удалено!{% endblock %}
{% block content %}
  <body>	   
    <main>
      <div class="container py-5"> 
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
                Резюме удалено!
              </div>
              <div class="card-body"> 
                <p>Резюме удалено успешно!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
{% endblock %}
</html>